body{
    background-color:#06bdc9;
    font-family:monospace;
}

/* table */
#table-heading{
    background-color:#03838c;
    font-size:20px;
}

#table-row{
    background-color:lightgrey;
    font-size:14px;
}